<div class="row">
  <div class="col-10">
    <h2>投稿詳細</h2>
    
    <table class="table">
      <tr>
        <td>
          <%= link_to @post.user do %>
            <%= image_tag @post.get_post_image(300, 300) %><br>
            <%= @post.user.name %>
          <% end %>
        </td>
        <td><%= @post.body %></td>
        <td><%= render "public/favorites/btn", post: @post %></td>
      </tr>
    </table>
    
    <table  class="table">
      <% @post_tags.each do |tag| %>
        <%=tag.name%><%="(#{tag.posts.count})" %>
      <% end %>
    </table>
    
    <table class="table">
      <tr>
        <td><%= @post.comments.count %>
          <% @post.comments.each do |comment| %>
            <%= image_tag comment.user.get_icon_image(100, 100) %>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
            <%= comment.comment %>
            <% if comment.user == current_user %>
              <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
    
    <table class="table">
      <tr>
        <td>
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </td>
      </tr>
    </table>
    
    <% if @post.user == current_user %>
      <td><%= link_to "Edit", edit_post_path(@post), class: "btn btn-success" %></td>
      <td><%= link_to "Destroy", @post, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %></td>
    <% end %>
  </div>
</div>