<div class="col-6 posts-container">
  <div class="back-button-container" style="display: flex; align-items: center;">
    <%= link_to '←', :back, class: "back-button" %>
    <h2>Results index</h2>
  </div>

  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
      <% @users.each do |user| %>
        <div class="card">
          <div class="card-header">
            <%= link_to user_path(user.id) do %>
              <span><%= image_tag user.get_icon_image(50, 50), class:'rounded-circle' %></span>
              <span style="color: black;"><%= user.name %></span>
            <% end %>
          </div>
          <div class="card-body">
            <span><%= user.introduction %></span>
          </div>
        </div>
       
      <% end %>

  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-header">
            <%= link_to user_path(post.user.id) do %>
              <span><%= image_tag post.user.get_icon_image(50, 50), class:'rounded-circle' %></span>
              <span style="color: black;"><%= post.user.name %></span>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <span><%= image_tag post.get_post_image(380, 120) %></span>
          <span><%= post.body %></span>
        </div>
      <% end %>
  <% end %>


</div>