<h1>投稿一覧</h1>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>Image</th>
      <th>Body</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <% if @tag_list.present? %>
  <tbody>
    <% @tag_list.each do |list| %>
      <%= list.name %>
      <%="(#{list.posts.count})" %>
    <% end %>
    
    <% @posts.each do |post| %>
    <i class="fas fa-tag"><%= post.tags.map(&:name).join(',') %></i>
    <tr>
      <td>
        <%= link_to post.user do %>
          <%= image_tag post.get_post_image(100, 100) %>
        <% end %>
      </td>
      <td><%= link_to post.body, post_path(post.id) %></td>
      <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
      <td><%= render "public/favorites/btn", post: post %></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>