<div class="row justify-content-center" style="margin: 10px;">
  <h1>投稿一覧</h1>
</div>

<% if @tag_list.present? %>
  <% @tag_list.each do |tag| %>
    <i class="fas fa-tag"><%= tag.name %></i>
    <%= "(#{tag.posts.count})" %>
  <% end %>
<% end %>

  <div class="row">
    <% @posts.each do |post| %>
    
      <div class="col-4">
        <div class="card" style="max-width: 20rem; margin: 10px;">
          <div class="row justify-content-center">
            <img class="card-img-top", style="text-center">
              <%= link_to post.user do %>
                <%= image_tag post.get_post_image(380, 172) %>
              <% end %>
          </div>
        <div class="card-body">
          <h4 class="card-title">内容</h4>
          <h6 class="card-text"><%= post.body %></h6>
          <p class="card-text"><%= "#{post.comments.count} コメント" %></p>
          <p class="card-text"><%= render "public/favorites/btn", post: post %></p>
          <p class="card-text"><%= link_to "詳細", post_path(post.id), class:"btn btn-primary" %></p>
        </div>
        </div>
      </div>
    
    <% end %>
  </div>