<div class="row justify-content-center">
  
  <!--リスト-->
  <div class="col-3">
    <%= render 'layouts/list' %>
  </div>
  
  <!--新規投稿、投稿一覧-->
  <div class="col-6">

    <%= form_with model: @post, url: posts_path, method: :post, local:true do |f| %>
  
      <h5><%= image_tag current_user.get_icon_image(50, 50), class:'rounded-circle' %></h5>
        <%= f.text_area :body, style:"width: 90%", placeholder:"投稿"%>
  
      <%= f.file_field :post_image, accept: "image/*" %> <%= f.submit 'Post', class:"btn btn-primary rounded-pill" %>
    <% end %>

    <% @posts.each do |post| %>
    
        <div class="card" style="max-width: 100rem; margin: 10px;">
          <div class="card-header">
            <%= image_tag post.user.get_icon_image(50, 50), class:'rounded-circle' %>
            <%= post.user.name %>
          </div>
          <div class="row justify-content-center">
            <img class="card-img-top", style="text-center">
              <%= link_to post.user do %>
                <%= image_tag post.get_post_image(480, 272) %>
              <% end %>
          </div>
        <div class="card-body">
          <h4 class="card-title">内容</h4>
          <h6 class="card-text"><%= post.body %></h6>
          <p class="card-text"><%= "#{post.comments.count} コメント" %></p>
          <p class="card-text"><%= render "public/favorites/btn", post: post %></p>
          <p class="card-text"><%= link_to "詳細", post_path(post.id), class:"btn btn-primary" %></p>
        </div>
        </div>
    
    <% end %>
    
  </div>
  
    <!--検索フォーム-->
    <div class="col-3">
      <%= render 'layouts/search' %>
    </div>
  
</div>
  
  
  <nav class="row justify-content-center" aria-label="pagination">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">前</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">後</a></li>
      </ul>
    </nav>
    