<div class="col-6 posts-container">
  <h2>Log in</h2>
  
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
  
    <div class="field-login">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"ユーザー名" %>
    </div>
  
    <div class="field-login">
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-outline-primary rounded-pill" %>
    </div>
  <% end %>
  
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary mr-3" %>

</div>