<div class="col-6 posts-container">
  <div class="back-button-container" style="display: flex; align-items: center;">
    <%= link_to 'â†', :back, class: "back-button" %>
    <h2>Favorite</h2>
  </div>
  
  <% @favorite_posts.each do |post| %>
    <div class="card">
      <div class="card-header">
        <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.get_icon_image(50, 50), class:'rounded-circle' %>
        <% end %>
        <%= post.user.name %>
      </div>
      <div class="card-body">
        <div>
          <%= post.body %>
        </div>
        <div class="row justify-content-center">
          <%= link_to image_tag(post.get_post_image(530, 322)), post_path(post) %>
        </div>
      </div>
      <div class="card-footer">
        <span class="comment-count">
          <i class="fa-regular fa-comment"></i>
          <%= "#{post.comments.count}" %>
        </span>
        <span class="favorite-count">
          <%= render "public/favorites/btn", post: post %>
        </span>
      </div>
    </div>
  <% end %>
</div>