<div class="col-6">
  <div class="card">
    <div class="card-header">
      <%= image_tag @user.get_icon_image(50, 50), class:'rounded-circle' %>
        <% if user_signed_in? && @user == current_user %>
          <h5><%= @user.name %></h5>
        <% else %>
          <h5><%= @user.name %></h5>
        <% end %>
        <p><%= @user.posts.count %> Posts</p>
    </div>
    
    <div class="row justify-content-center">
      <div class="header-image">
        <%= image_tag @user.get_header_image(780, 220) %><br>
      </div>
    </div>
    
    <div>
      <!--<%# if user_signed_in? %>-->
        <!--<p>User ID is: <%#= @post.user.id %></p>-->
      <%# end %>

  　   <span><%= @user.followers.count %> Following</span>
      <span><%= @user.followeds.count %> Followers</span>
    </div>
      
    <% unless user_signed_in? && @user == current_user %>
      <p><%= render partial: "/public/relationships/follow_btn", locals: { user: @user } %></p>
    <% end %>


    <% if user_signed_in? && @user == current_user %>
      <p class="d-flex justify-content-end">
        <%= link_to "Edit plofile", edit_user_path(@user), class: "btn btn-outline-secondary rounded-pill", style: "width: 120px; margin-right: 10px;" %>
      </p>
    <% end %>
    
  </div>
    
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-header">
        <%= image_tag @user.get_icon_image(50, 50) %>
        </div>
        <div class="card-body">
          <%= post.body %>
          <div class="row justify-content-center">
            <%= image_tag post.get_post_image(480, 272) %>
            <%= "#{post.comments.count} コメント" %>
          </div>
        </div>
      </div>  
    <% end %>
      
    
    <%= paginate @posts %>  
</div>

