<div class="col-6">
  <div class="card">
    <div class="card-header">
        <% if user_signed_in? && @user == current_user %>
          <h5><%= @user.name %></h5>
        <% else %>
          <h5><%= @user.name %></h5>
        <% end %>
        <p><%= @user.posts.count %> Posts</p>
    </div>
    
    <div class="row justify-content-center">
      <div class="header-image" style="position: relative; width: 95%; max-width: 100%; padding: 0;">
        <%= image_tag @user.get_header_image(780, 220), style: 'width: 100%; height: auto;' %>
        <div class="user-icon" style="position: absolute; bottom: -25px; left: 10px; z-index: 3;">
          <%= image_tag @user.get_icon_image(100, 100), class: 'rounded-circle' %>
        </div>
      </div>
    </div>
    
    <div style="margin: 40px 0 0 10px;"><%= @user.name %></div>
    <div style="color: #aaa; margin: 0 0 10px 10px;"> <!-- Adjust padding-top to fit the icon image size -->
      <%= @user.nickname %>
      <!-- other user info goes here -->
    </div>
    
    <div>
      <!--<%# if user_signed_in? %>-->
        <!--<p>User ID is: <%#= @post.user.id %></p>-->
      <%# end %>
      <div style="margin: 10px;"><%= @user.introduction %></div>
      <div style="color: #aaa; margin: 10px;"><%= @user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div>
        <span style="margin: 10px;"><%= @user.followers.count %> Following</span>
        <span style="margin: 10px;"><%= @user.followeds.count %> Followers</span>
      </div>
    </div>
      
    <% unless user_signed_in? && @user == current_user %>
      <p><%= render partial: "/public/relationships/follow_btn", locals: { user: @user } %></p>
    <% end %>


    <% if user_signed_in? && @user == current_user %>
      <p class="d-flex justify-content-end">
        <%= link_to "Edit plofile", edit_user_path(@user), class: "btn btn-outline-secondary rounded-pill", style: "width: 120px; margin-right: 10px;" %>
      </p>
    <% end %>
    
  </div>
    
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-header">
        <%= image_tag @user.get_icon_image(50, 50) %>
        </div>
        <div class="card-body">
          <%= post.body %>
          <div class="row justify-content-center">
            <%= image_tag post.get_post_image(530, 322) %>
          </div>
        </div>
        <div class="card-footer">
          <%= "#{post.comments.count} コメント" %>
        </div>
      </div>  
    <% end %>
      
    
    <%= paginate @posts %>  
</div>

