<header class="sticky-top">

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <div class="row align-items-center w-100">
          
          <div class="col-md-6">
            <%= link_to root_path do %>
              <div class="logo-font">
                PETTER
              </div>
            <% end %>
          </div>
          
    <div class="col-md-6 text-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
      <ul class="navbar-nav ml-auto">
        
        <% if user_signed_in? %>
        
          <li class="nav-item" style="margin-right:40px;">
            <% flash.each do |key, message| %>
              <div class="flash <%= key %>"><%= message %></div>
            <% end %>
          </li>
          
          <li class="nav-item" style="margin-right:40px;">
            ようこそ、
              <%= link_to user_path(current_user.id) do %> 
                <%= image_tag current_user.get_icon_image(50, 50), class:'rounded-circle' %>
              <% end %>  
            <%= current_user.nickname %>さん!
          </li>
                      
        <% else %>
         
          <div title="Guest Log In">
            <%= link_to users_guest_sign_in_path, method: :post, class:"btn btn-outline-secondary rounded-pill mr-3", style:"width: 100px;" do %>
              <i class="fa-solid fa-person"></i>
            <% end %>
          </div>
            
        <% end %>

        </ul>
      </div>
      </div>
      </div>
    </div>
  </nav>
</header>