<!--リスト-->
<div class="menu-list">
  <h2 class="logo"></h2>
  
    <% if user_signed_in? %>
    
    <div class="card" style="max-width: 200rem;">
      <div class="card-body">
        <p class="card-text-list">
          <%= link_to root_path do %>
            <i class="fa-solid fa-house"></i> Home
          <% end %>
        </p>
        <p class="card-text-list">
          <%= link_to user_path(@user.id) do %>
            <i class="fa-solid fa-user"></i> User
          <% end %>
        </p>
        <p class="card-text-list">
          <%= link_to favorites_user_path(current_user) do %>
            <i class="fa-solid fa-heart"></i> Favorite
          <% end %>
        </p>
        <p class="card-text-list">
          <%= link_to about_path do %>
            <i class="fa-solid fa-paperclip"></i> About
          <% end %>
        </p>
        <p class="card-text-list">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i> Log out
          <% end %>
        </p>
      </div>
    </div>

    <%# Postボタン %>
      <div class="list-post-button text-center">
        <%= link_to 'Post',new_post_path, class: "btn btn-primary rounded-pill", remote: true, style:"width: 200px; height: 50px;" %>
      </div>
      <div id="mask" class="hidden"></div>
      <div id="modal" class="hidden"></div>

    
    <% else %>
    
    <div class="card" style="max-width: 200rem;">
      <div class="card-body">
        <p class="card-text">
          <%= link_to new_user_registration_path do %>
            <i class="fa-solid fa-address-card"></i>Sign in
          <% end %>
        </p>
        <p class="card-text">
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-right-to-bracket"></i>Log in
          <% end %>
        </p>
        <p class="card-text">
          <%= link_to about_path do %>
          <i class="fa-solid fa-paperclip"></i>About
          <% end %>
        </p>
      </div>
    </div>
    
    <% end %>
  
</div>