<!--リスト-->
<div class="menu-list">
  <h2 class="logo"></h2>
  
    <% if user_signed_in? %>
    
    <div class="card" style="max-width: 200rem;">
      <div class="card-body">
        <p class="card-text"><%= link_to "Home", root_path, style: "color:black;" %></p>
        <p class="card-text"><%= link_to "User", user_path(@user.id), style: "color:black;" %></p>
        <p class="card-text"><%= link_to "Favorite", favorites_user_path(current_user), style: "color:black;" %></p>
        <p class="card-text"><%= link_to "About", about_path, style: "color:black;" %></p>
        <p class="card-text"><%= link_to "Log Out", destroy_user_session_path, method: :delete, style: "color:black;" %></p>
      </div>
    </div>

    <%# Postボタン %>
      <div class="list-post-button text-center">
        <%= link_to 'Post',new_post_path, class: "btn btn-primary rounded-pill", remote: true, style:"width: 200px; height: 50px;" %>
      </div>
      <div id="mask" class="hidden"></div>
      <div id="modal" class="hidden"></div>

    
    <% else %>
    
    <div class="card" style="max-width: 200rem;">
      <div class="card-body">
        <p class="card-text"><%= link_to "Sign In", new_user_registration_path, style: "color:black;" %></p>
        <p class="card-text"><%= link_to "Log In", new_user_session_path, style: "color:black;" %></p>
        <p class="card-text"><%= link_to "About", about_path, style: "color:black;" %></p>
      </div>
    </div>
    
    <% end %>
  
</div>