<!DOCTYPE html>
<html>
  <head>
    <title>Petter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/83484975db.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </head>

   <% if user_signed_in? %>
    
      <body>
        <script src="app/javascript/packs/application.js"></script>
        
        <div id="header">
          <%= render "layouts/header" %>
        </div>
        
        <div class="background">
          <div class="container">
            <div class="row justify-content-center">
            <!--リスト-->
              <div class="col-3">
                <%= render 'layouts/list' %>
              </div>
          <%= yield %>
            <!--検索フォーム-->
              <div class="col-3">
                <%= render 'layouts/search' %>
              </div>
            </div>
          </div>
        </div>
        
        <!--ページネーション-->
        
        <%= render "layouts/footer" %>
    
      </body>
      
    <% else %>
    
      <body>
        <script src="app/javascript/packs/application.js"></script>
        <div id="header">
          <%= render "layouts/header" %>
        </div>
        
        <div class="background">
        <div class="container">
          <div class="row justify-content-center">
          <!--リスト-->
          <div class="col-3">
            <%= render 'layouts/list' %>
          </div>
          <%= yield %>
          <!--検索フォーム-->
          <div class="col-3">
            <%= render 'layouts/search' %>
          </div>
          </div>
        </div>
        </div>
        
        <!--ページネーション-->
        
        <%= render "layouts/footer" %>
        
        
        
      </body>
      
    <% end %>

</html>
